.landing {
  --gradient-stops: var(--gradient-from), var(--gradient-to);
  --gradient: var(--gradient-via-stops, var(--gradient-stops));
  background-image: linear-gradient(0deg, var(--gradient));
  --gradient-from: var(--chakra-colors-transparent);
  --mix---gradient-to: color-mix(in srgb, var(--chakra-colors-blue-300) 20%, transparent);
  --gradient-to: var(--mix---gradient-to, var(--chakra-colors-blue-300));
}

.heroBlock {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 2rem 0;
  backdrop-filter: blur(10px);

  --gradient-stops: var(--gradient-from), var(--gradient-to);
  --gradient: var(--gradient-via-stops, var(--gradient-stops));
  background-image: linear-gradient(to bottom, var(--gradient));
  --gradient-from: var(--chakra-colors-transparent);
  --mix---gradient-to: color-mix(in srgb, var(--chakra-colors-black-200) 20%, transparent);
  --gradient-to: var(--mix---gradient-to, var(--chakra-colors-black-200));
}
